:root {
  --span-color: #00d3e1;
}

span {
  color: var(--span-color);
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.background_body {
  background-image: url("https://i.pinimg.com/736x/b9/06/d0/b906d02dc91827a3425b2884a972eee3.jpg") !important;
  width: 100%;
  height: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  animation: moveBackground 10s linear infinite alternate;
}

@keyframes moveBackground {
  0% {
    background-position: center bottom;
  }
  100% {
    background-position: center top;
  }
}

.blur_bacground {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

.login_container {
  background-color: rgb(255, 255, 255) !important;
  opacity: 100% !important;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  height: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.login_input {
  width: 100%;
  height: 40px;
  border-radius: 7px;
  padding-left: 15px;
  box-shadow: 1px -1px 5px 1px #00000040 inset;
  background: #f9f9f9;
  outline: none;
  margin-bottom: 15px;
}

.login_button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  opacity: 1;
  box-shadow: 2px 4px 4px 0px #00000040;
  background: #00d3e1;
  color: white;
}

.logout_button {
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .login_container {
    width: 90%;
    padding: 15px;
  }

  .login_input,
  .login_button {
    height: 35px;
  }
}
.gradient-custom {
  /* fallback for old browsers */
  background: #accbee;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(172, 203, 238, 0.5),
    rgba(37, 242, 249, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(172, 203, 238, 0.5),
    rgba(11, 233, 241, 0.5)
  );
  height: auto;
}

.gradient_card {
  /* Fallback for old browsers */
  background: #e6e9f0;

  /* Gradient background */
  background: -webkit-linear-gradient(
    to right,
    rgba(230, 233, 240, 0.5),
    rgba(238, 241, 245, 0.5)
  );
  background: linear-gradient(
    to right,
    rgba(230, 233, 240, 0.5),
    rgba(238, 241, 245, 0.5)
  );

  border-radius: 27px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transform: perspective(1000px) rotateX(10deg) rotateY(0deg);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gradient_card:hover {
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

/* Add this CSS to your stylesheet */
.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  transition: transform 0.3s ease, color 0.3s ease;
  transform: translateY(0);
  padding: 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.button:hover {
  color: #d1d5db; /* Change text color on hover */
  transform: translateY(-4px); /* Lift the button on hover */
}

/* Specific styles for images */
.button img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.visible-scrollbar,
.invisible-scrollbar,
.mostly-customized-scrollbar {
  display: block;
  width: 100% !important;
  overflow: none;
  height: 60vh;
  padding: 1em;
  margin: 1em auto;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}

.table_animation {
  width: 100%;
}

.tbody {
  width: 2000px !important;
  background-color: red;
}

.user-icon {
  width: 50px;
  height: 50px;
  background-size: contain;
  animation: moveUpDown 2s infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
