.Filter_button {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: auto;
  height: auto;
  padding: 5px 10px 5px 10px;
  opacity: 0px;
  color: #00d3e1;
  border: 2px solid #00d3e1;
  border-radius: 8px;
}

.Filter_button:hover {
  color: #ffffff;
  background: #00d3e1;
  transition: 0.2s;
}
.Filter_button1:hover {
  color: #ffffff;
  background: #00d3e1;
  transition: 0.2s;
}

.Filter_button1 {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 150px;
  height: 40px;
  opacity: 0px;
  color: #00d3e1;
  border: 2px solid #00d3e1;
  border-radius: 8px;
}
.felx_wrap {
  flex-wrap: wrap;
}

.nefr {
  width: 700px;
}

@media screen and (max-width: 1900px) {
  .respon {
    padding: 0px 102px 0px 123px;
  }
}

@media screen and (max-width: 1360px) {
  .respon {
    padding: 0px 92px 0px 99px;
  }
}

@media screen and (max-width: 1000px) {
  .respon {
    padding: 0px 12px 0px 18px;
  }
}
